body {
  font-family: sans-serif;
  background-color: #EBEBEB;
  color: #000;
}

.controls {
  width: 300px;
  float: left;
}

.menu {
  margin-top: 30px;
}

.menu label {
  display: block;
}

.menu p {
  font-weight: bold;
  margin-bottom: 0;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  display: flex;
  flex: 0 0 calc(25% - 4px); /* default */
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 10rem; /* default */
  background-color: rgb(32, 64, 86);
  font-size: 5rem;
  font-weight: bolder;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 5px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.card:first-child:nth-last-child(4),
.card:first-child:nth-last-child(4) ~ .card {
  flex: 0 0 calc(50% - 3px);
  height: 20rem;
}

.card:first-child:nth-last-child(36),
.card:first-child:nth-last-child(36) ~ .card {
  flex: 0 0 calc((100% / 6) - 3px);
  height: 6.5rem;
}